/*!

  Radancy Tools: Career Path Generator

  Dependencies: Sass
  Instructions: To run locally, install Sass (https://sass-lang.com/install), CL to directory this file in and run:
  sass --watch init.scss:init.css --style compressed

*/

@mixin breakpoint($width) {

  @media screen and (min-width: $width) {

    @content;

  }

}

// Feel free to remove this class if you don't need it

.sr-only:not(:focus):not(:active) {
clip-path: inset(100%);
clip: rect(0 0 0 0);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}

// ===============================================
// Career Path
// ===============================================

.career-path {
padding: 25px;
text-align: center;
margin-bottom: 25px;

  @include breakpoint(800px) {

    padding: 50px 0;
    margin: 0;

  }

  > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  }

  * {
  box-sizing: border-box;
  font-family: inherit;

    &:last-chid {
    margin-bottom: 0;
    }

  }

  &__heading {
  font-size: 36px;
  margin-bottom: 1em;
  }

  &__intro {
  margin-bottom: 1em;
  }

  &__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }

  // primary row that contains all secondary rows

  &__row {
  list-style: none;
  position: relative;
  width: 100%;
  }

  .starting-row {

    .career-path__title-container {
    margin-top: 0;
    }

    .career-path__title-row > * {
    min-height: 0;
    }

  }

  // secondary row that contains only border segments

  &__border-row {
  display: flex;
  justify-content: center;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;

    &.top {
    top: 0;
    }

    &.bottom {
    bottom: 0;
    }

  }

  // secondary row that contains only job title columns

  &__title-row {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;

  // each column that contains a job title

    > * {
    min-height: 116px;
    position: relative;
    }

  }

  // wrapping div for job title

  &__title-container {
  color: #000;
  display: inline-block;
  margin: 24px auto 28px;
  max-width: 100%;
  position: relative;
  z-index: 1;
  }

  // job title

  &__title {
  display: inline-block;
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 8px 12px;
  }

  // arrow icon

  .career-arrow {
  background-color: currentColor;
  border-radius: 50%;
  display: block;
  fill: #fff;
  height: 24px;
  margin: 0 auto;
  padding: 4px;
  width: 24px;
  }

  // styles for borders

  .vertical-border {
  display: block;
  height: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 0;

    &.top {
    top: 0;
    }

    &.bottom {
    bottom: 0;
    transform-origin: left;
    transform: rotate(180deg) translateX(-50%);
    }

    &.full-height {
    height: calc(100% + 4px);
    }

  }

  .horizontal-border {
  position: relative;
  }

  .hide-border {
  visibility: hidden;
  }

  // Column widths
  // so far there are 16 different widths

  @for $i from 1 through 16 {

    .width-#{$i} > * {
    width: calc(100% / #{$i})
    }

  }

}

#career-path {
// top: 70%;
// transform: translateY(-50%);
bottom: 0;;
margin: 0 auto;
position: absolute;
width: 100%;
}

.career-path-wrapper {
position: sticky;
top: 0;

  h2, p {
  display: none;
  }

}

.form-app {
display: flex;
flex-wrap: wrap;

  > * {
  justify-content: space-around;
  }


    label {
    color: #000;
    margin-right: 1em;

      &[for="importFile"] {
      display: block;
      }

    }

  [type="text"], select {
  border-radius: 5px;
  width: 100%;
  padding: 1em;
  margin-bottom: 0.5em;
  border: 1px solid #ccc;
  }

}

.controls-wrap {
justify-content: flex-start;
width: 100%;

  > div {
  margin-bottom: 10px;
  margin-right: 1%;
  position: relative;
  width: 24%;

    div {
    margin-top: .5em;
    }

  }

  input[type="text"], select {
  display: block;
  }

  [type="file"] {
  display: inline;
  }

}

.bottom-controls {
margin-top: 1em;

  .btn {
  width: 33%;
  }

}

.main-col {
width: 45%;
}

.row-label-wrapper {
position: relative;
width: 10%;
}

.row-label-container {
// bottom: 0;;
// position: absolute;
// top: 70%;
// transform: translateY(-50%);
margin: 0 auto;
padding-top: 30px;
width: 100%;
}

.row-label {
align-items: center;
display: flex;
font-size: 20px;
font-weight: bold;
justify-content: center;
min-height: 118px;

  &:first-of-type {
  min-height: 125px;
  }

}

.border-controls {
margin-top: 10px;

  [type="checkbox"] {

    + label {
    margin-bottom: 5px;
    }

  }

  &.top {
  border-bottom: 1px dotted black;
  padding-bottom: 5px;
  }

}

.border-segment-controls {
align-items: center;
justify-content: space-between;

  div {
  position: relative;
  }

}

.border-segment-config {

  div {
  position: relative;
  }

  > *:not(:last-child) {
  margin-right: 5px;
  }

  &:empty {
  display: none;
  }

}

.flex-col {
align-items: baseline;
display: flex;
flex-wrap: wrap;
width: 100%;
}

.field-wrapper {
display: flex;
justify-content: space-between;

  .full-width {
  flex: 0 0 100%;
  }

}

.item {
flex: 1 0 10%;
margin-top: 10px;

  > * {
  width: 100%;
  margin-bottom: 5px;
  }

  &:not(:last-child) {
  margin-right: 2%;
  }

  label {
  width: 200px;
  }

}

.large-col {
border-left: 10px solid white;
flex: 1 0 20%;
max-width: calc(100% - 100px);
}

.row-controls {
align-items: inherit;
border-top: 3px solid black;
margin-top: 10px;
padding-top: 10px;

  &:first-of-type {
  border: 0;
  }

}

.new-row-btn {
min-height: 100px;
width: 100px;
}

.delete-row-btn {
flex: 0 0 100px;
}

.add-column-btn {
width: 100%;
}
